{% extends 'adminlte/base.html' %}
{% load static %}

{% block title %}Control de Ingreso{% endblock %}
{% block stylesheets %}
{% include 'adminlte/lib/_styles.html' %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.1.5/css/dx.light.css">
{% endblock %}
{% block nav_header %}
{% include 'main_header.html' %}
{% endblock %}

{% block body_class %}
dx-viewport
{% endblock%}

{% block nav_sidebar %}
{% include 'main_sidebar.html' %}
{% endblock %}


{% block content %}
{% endblock %}

{% block nav_footer %}
{% include 'main_footer.html' %}
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.10.1/polyfill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.8.0/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
{% include 'adminlte/lib/_scripts.html' %}

<script type="text/javascript" src="https://cdn3.devexpress.com/jslib/21.1.5/js/dx.all.js"></script>
<script type="text/javascript" src="{% static 'js/es.js' %}"></script>
{% endblock %}