{% load adminlte_helpers %}
{% load static %}
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        {% block user_panel %}
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{% static 'img/pleca-tecmxl.png' %}" class="img-circle" alt="User Image" width="50" height="90">

                <!-- <img src="{% avatar_url size=90 %}" class="img-circle" alt="User Image"> -->
            </div>
            <div class="pull-left info">
                <p>{% firstof request.user.get_full_name request.user.username %}</p>
            </div>
        </div>
        {% endblock %}

        {% block form %}{% endblock %}

        <!-- sidebar menu: : style can be found in sidebar.less -->
        {% block nav_links_ul %}
        <ul class="sidebar-menu">
            {% block nav_links_outer %}
            <li class="header">{% block nav_heading %}MENU PRINCIPAL{% endblock %}</li>

            {% block nav_links %}
                <li>
                    <a href="/reporte">
                        <i class="fa fa-dashboard"></i> <span>Reporte</span>
                    </a>
                </li>
                <li>
                    <a href="/admin">
                        <i class="fa fa-desktop"></i> <span>Panel de Administrador</span>
                    </a>
                </li>
                <!-- <li class="treeview">
                    <a href="#">
                        <i class="fa fa-group"></i> <span>Sub menu</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i> Another link
                            </a>
                        </li>
                    </ul>
                </li> -->
            {% endblock nav_links %}
            {% endblock nav_links_outer %}
        </ul>
        {% endblock nav_links_ul %}
    </section>
    <!-- /.sidebar -->
</aside>