<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Control de Ingreso</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% include 'adminlte/lib/_styles.html' %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->
</head>

<body>
  <div class="" style="padding: 2em">
    <div class="row">
      <div class="col-md-6 text-center"><img src="{% static 'img/pleca_tecnm.jpg' %}" alt=""></div>
      <div class="col-md-6 text-center"><img src="{% static 'img/pleca-tecmxl.png' %}" alt="" height="100px"></div>
    </div>
    <form method="post">
      {% csrf_token %}
      {% if vacio %}
      <h3>Contesta la encuesta</h3>
      <div class="row">        
        <div class="col-md-12 input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Número de control:</span>
          <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default" name="numero_control"
          autofocus>
        </div>
        <!-- <div class="col-md-12 input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Tipo de Persona:</span>
          <select name="tipo_persona" class="form-control">
            <option value="1">ESTUDIANTE</option>
            <option value="2">PERSONAL DIRECTIVO</option>
            <option value="3">PERSONAL DOCENTE</option>
            <option value="4">PERSONAL DE APOYO Y ASISTENCIA</option>
            <option value="5">VISITA</option>
          </select>
        </div>
        <div class="col-md-12 input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Nombre y apellido:</span>
          <input type="text" class="form-control" aria-describedby="inputGroup-sizing-default" required name="nombre" autofocus>
        </div>
        <div class="col-md-12 input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Género:</span>
          <select name="genero" class="form-control" required>
            <option value="1">MASCULINO</option>
            <option value="2">FEMENINO</option>
            <option value="3">PREFIERO NO ESPECIFICARLO</option>
          </select>
        </div>
        <div class="col-md-12 input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Correo electrónico:</span>
          <input type="email" class="form-control" aria-describedby="inputGroup-sizing-default" name="email" autofocus>
        </div>
        <div class="col-md-12 input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Teléfono:</span>
          <input type="tel" class="form-control" aria-describedby="inputGroup-sizing-default" name="telefono" autofocus>
        </div>
        <div class="col-md-12 input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">¿Has tenido contacto con un caso confirmado de
            covid?</span>
          <select name="contacto" class="form-control">
            <option value="1">Si</option>
            <option value="0">No</option>
          </select>
        </div>
        <div class="col-md-12 input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">¿Tu temperatura es de 38° o mas?</span>
          <select name="temperatura_38" class="form-control">
            <option value="1">Si</option>
            <option value="0">No</option>
          </select>
        </div>
        <div class="col-md-12 input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">¿Tienes tos o estornudos frecuentes?</span>
          <select name="tos_estornudos_frecuentes" class="form-control">
            <option value="1">Si</option>
            <option value="0">No</option>
          </select>
        </div>
        <div class="col-md-12 input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">¿Tienes malestar o dolor de cabeza?</span>
          <select name="malestar_dolor_cabeza" class="form-control">
            <option value="1">Si</option>
            <option value="0">No</option>
          </select>
        </div>
        <div class="col-md-12 input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">¿Tienes dificultad para respirar?</span>
          <select name="dificultad_respirar" class="form-control">
            <option value="1">Si</option>
            <option value="0">No</option>
          </select>
        </div> -->
        <div class="col-md-12 input-group mb-3">
          <input type="submit" style="max-width: 200px; margin: auto" class="form-control">
        </div>
      </div>
      {% endif %}
    </form>
    {% if not vacio %}
    <div class="input-group mb-3">
      <div style="margin: auto" class="text-center">
        <h3><strong>Gracias por llenar la encuesta</strong></h3>
        <img id="now" style="max-width: 100%; width: auto;" alt="" src="data:image/png;base64,{{ qr }}" />
        <br>
        <div class="text-center"><strong>Vigencia {{vigencia|date:"d-M-y" }}</strong></div>
        <!-- <a href="/get_qr_encuesta/{{uuid}}" class="btn btn-primary mt-3">Guardar Comprobante</a> -->
        <a href="/encuesta" class="btn btn-primary mt-3">Ir a encuesta</a>
      </div>
    </div>
    {% endif %}
  </div>
</body>

</html>