{% extends 'base.html' %}
{% load static %}
{% block title %}Reporte{% endblock %}
{% block content %}
<div class="container" style="width: 100%;">
    <div class="card">
        <div class="card-header">
            <h3><strong>Reporte</strong></h3>
        </div>
        <div class="card-body">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-4">
                    Fecha Inicial:
                    <div id="dtFechaInicio"></div>
                </div>
                <div class="col-md-4">
                    Fecha Final:
                    <div id="dtFechaFin"></div>
                </div>
                <div class="col-md-4">
                    <div id="btnBuscar" style="margin-top: 20px;"></div>
                </div>
            </div>

            <div id="grdEncuestas"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/reporte.js' %}"></script>
{% endblock %}
